{% extends '@layouts/clean.twig' %}

{# form -> ResetPasswordForm #}
{# messageSent -> bool #}

{% block content %}
    {% if not messageSent %}
        <div class="container">
            <div class="p-centered col-xs-12 col-sm-6 col-md-5 col-4 mt-4">
                <h1 class="text-center mb-4">
                    {{ t('ui', 'label.reset-password') }}
                </h1>

                <form action="{{ path(['@reset-password']) }}" method="post">
                    {{ csrf() | raw }}

                    {{ this.render('/layouts/widgets/form-errors', {'form': form}) | raw }}

                    <div class="form-group {{ form.errors.email ? 'has-error' : '' }}">
                        <div class="has-icon-left">
                            <input class="form-input"
                                   type="text"
                                   placeholder="{{ form_label(form, 'email') }}"
                                   id="input-login"
                                   name="{{ form_field(form, 'email') }}"
                                   value="{{ form.email }}"
                                   autocomplete="off">
                            <i class="form-icon material-icons">alternate_email</i>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-input mt-3 btn btn-primary">
                            {{ t('ui', 'label.continue') }}
                        </button>
                    </div>

                </form>
            </div>
        </div>
    {% else %}
        {{ this.render('/layouts/widgets/page-message', {
            'icon': 'email',
            'title': t('ui', 'title.great'),
            'message': t('ui', 'label.email-password-sent')
        }) | raw }}
    {% endif %}

{% endblock %}