<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <a href="{{ path(['/']) }}">{{ t('ui', 'label.home') }}</a>
            </li>
        </ul>
    </div>

    <div class="uk-navbar-center">
        <a href="{{ path(app.homeUrl) }}" class="uk-navbar-item uk-logo">
            <img src="{{ seo().logo }}" class="img-brand" alt="{{ seo().name }}">
        </a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% if user().isGuest %}
                <li>
                    <a href="{{ path(['@login']) }}">{{ t('ui', 'label.login') }}</a>
                </li>
                <div class="uk-navbar-item">
                    <a href="{{ path(['@sign-up']) }}" class="uk-button uk-button-primary">{{ t('ui', 'label.sign-up') }}</a>
                </div>
            {% else %}
                <li>
                    <a href="{{ path(['@me']) }}">{{ t('ui', 'label.profile') }}</a>
                </li>
                <li>
                    <a href="{{ path(['@logout']) }}">{{ t('ui', 'label.logout') }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>