{# this \yii\web\View #}
{# message -> \yii\mail\MessageInterface #}
{# content -> Mail template rendered string #}

{{ this.beginPage() }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ app.charset }}"/>
    <title>{{ this.title }}</title>
    {{ this.head() }}
</head>
<body>
{{ this.beginBody() }}

{% block content %}
{% endblock %}

{{ this.endBody() }}
</body>
</html>
{{ this.endPage() }}