{{ this.beginPage() }}
<!doctype html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.title }}</title>
    {{ csrf(true) | raw }}
    {{ this.head() }}
    <link rel="stylesheet" href="{{ asset('/assets/css/app.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray">
{{ this.beginBody() }}

{% include '@layouts/blocks/navbar.twig' %}

{% include '@layouts/blocks/notifications.twig' %}

{% block content %}
{% endblock %}

<script src="{{ asset('/assets/js/app.js') }}"></script>
{{ this.endBody() }}
</body>
</html>
{{ this.endPage() }}