{% extends '@layouts/clean.twig' %}

{% block content %}
    <div class="container">
        <div class="p-centered col-xs-12 col-sm-6 col-md-5 col-3 mt-4">
            {% include '@layouts/blocks/social-login.twig' %}

            <div class="divider text-center mb-3" data-content="{{ t('ui', 'label/OR') }}"></div>

            <form action="{{ path(['@login']) }}" method="post">
                {{ csrf() | raw }}

                {{ this.render('/layouts/widgets/form-errors', {'form': form}) | raw }}

                <div class="form-group {{ form.errors.email ? 'has-error' : '' }}">
                    <div class="has-icon-left">
                        <input class="form-input"
                               type="text"
                               placeholder="{{ form_label(form, 'email') }}"
                               id="input-login"
                               name="{{ form_field(form, 'email') }}"
                               value="{{ form.email }}"
                               autocomplete="off">
                        <i class="form-icon material-icons">alternate_email</i>
                    </div>
                </div>

                <div class="form-group {{ form.errors.password ? 'has-error' : '' }}">
                    <div class="has-icon-left">
                        <input class="form-input"
                               type="password"
                               placeholder="{{ form_label(form, 'password') }}"
                               id="input-password"
                               name="{{ form_field(form, 'password') }}"
                               value="{{ form.password }}"
                               autocomplete="off">
                        <i class="form-icon material-icons">lock</i>
                    </div>
                    <div class="form-input-hint">
                        <a href="{{ path(['@reset-password']) }}" class="my-2">
                            {{ t('ui', 'label/reset-password') }}
                        </a>
                    </div>
                </div>

                {{ reCaptcha(form, 'captcha', 'login') | raw }}

                <div class="form-group">
                    <button type="submit" class="form-input mt-3 btn btn-primary">
                        {{ t('ui', 'label/login') }}
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}